
    

   .container{
    width: 40%;


    .butclose{
        width: auto;
        height:auto;
        display: flex;
        justify-content: center;
        border: none;
        background-color: white;
        padding-left:250px;
    }

    .butSearch{
        width: auto;
        height:auto;
        display: flex;
        justify-content: center;
        border: none;
        background-color: white;
        padding-left: 120px;
    }
   }
