.button {
    width:auto;
    background-color: aliceblue;
    color: black;
    border-radius:5px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    &.secondary {
        background-color: rgb(140, 140, 140);
        color :white

    }

    &.text{
        color: rgb(218, 112, 112);
        border-style: none;
    }
}