.button {
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    &.secondary {
        background-color: rgb(140, 140, 140);
        color :white

    }

    &.text{
        color: rgb(218, 112, 112);
        border-style: none;
    }
}