@import "@styles/lavenes.scss";

.navbar {
    width: 100%;
    height: 63px;
    padding-inline: 42px;
    position: fixed;
    top: 0;
    z-index: 999999999;
    background-color: rgba(255, 255, 255, .72)!important;
    backdrop-filter: blur(20px) saturate(180%);
    transition: all .25s ease;

    & .container {
        & .itemContainer {
            & .item {
                white-space: nowrap;
                margin-left: 12px;
                padding: 8px;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}