.head {
    width: 100vw;
    position: relative;
    background-color: black;
    margin-right: 0 !important;
}

.bg {
    width: 100%;
    // object-fit: cover;
    // -webkit-backdrop-filter: blur(5px);
    // backdrop-filter: blur(50px);
    // position: relative;
    // right:0px;
    height: inherit;
}

.temp {
    background: linear-gradient(to left, rgb(32, 33, 36) 0, rgba(0, 0, 0, 0) 56%),
        linear-gradient(to right, rgb(32, 33, 36) 0, rgba(0, 0, 0, 0) 56%),
        linear-gradient(to top, rgb(32, 33, 36) 0, rgba(0, 0, 0, 0) 56%),
        linear-gradient(to bottom, rgb(32, 33, 36) 0, rgba(0, 0, 0, 0) 56%);
    width: 900px;
    bottom: 0;
    left: 600;
    right: 0;
    top: 0;
    position: absolute;
}

.virtual {
    // width: 30%;
    height: inherit;
    // margin: 0px;
    background-color: black;
}

.body {
    position: absolute;
    display: flex;
    width: 1000px;
    flex-direction: row;
    bottom: 20px;
    left: 100px;

    .detail {
        display: flex;
        margin-left: 30px;
        flex-direction: column;
        justify-content: flex-start;
    }
}