.pictr{
    // width: 50%;
    // display: block;
    // margin: 0 auto;
    width: 100%;
    object-fit: cover;

}
.card{
    width: 200px;
    border: none;
        &:hover{
            opacity: 0.4;
        }
}