.detailCard {
    & .image {
        width: 32%;
        object-fit: contain;
        border-radius: 5px;
    }

    & .body {
        margin-left: 16px;

        & .title {
            font-size: 15px;
        }

        & .text {
            font-size: 13px;
        }
    }
}